
.site {
	margin: 1em;
	display: grid;
	grid-template-columns: 200px auto;
	grid-template-rows: 460px 1fr 1fr;
	grid-template-areas:
						"title      title"
						"ingredients ingredients"
						"equipment   equipment"
						"main        main"
						"footer    footer";
}

h2, li {
	display: flex;
	justify-content: center;
}

h1 {
	font-size: 20pt;
}

li {
	margin-right: 40px;
} /* Compensates for strange off-centered behaviour */


/* ////////////////////////////////////////////////// */


@media screen and (min-width: 600px) {
	.site {
		margin: 1em;
		display: grid;
		grid-template-columns: 200px auto;
		grid-template-rows: 480px 1fr 1fr;
		grid-template-areas:
							"title      title"
							"ingredients ingredients"
							"equipment   equipment"
							"main        main"
							"footer    footer";
}

	h2, li {
		display: flex;
		justify-content: center;
	}

	h1 {
		font-size: 28pt;
	}

	li {
		margin-right: 40px;
	} /* Compensates for strange off-centered behaviour */

}


/* ////////////////////////////////////////////////// */


@media screen and (min-width: 800px) {
	.site {
	margin: 1em;
	display: grid;
	grid-template-columns: 230px auto;
	grid-template-rows: 230px 1fr 2fr;
	grid-template-areas:
							"title      title"
							"ingredients main"
							"equipment   main"
							"footer    footer";
	}

	h1 {
		font-size: 28pt;
	}

	.navbar li {
		display: inline;
		margin-right: 0px;
	}

	li {
		justify-content: left;
	}


}


/* ////////////////////////////////////////////////// */


.ingredients,
.process,
.equipment,
.top,
.footer-content {
	padding-left: 1em;
	padding-right: 1em;
    color: white;

}

.ingredients {
	grid-area: ingredients;
	background-color: #268eee;
	display: block;
}

.process {
	grid-area: main;
	background-color: rgba(255, 255, 255, 0.8);
	color: #0265c0;
}

.equipment {
	grid-area: equipment;
    background-color: #268eee;
}

.top {
	grid-area: title;
	background-color: #0265c0;
}

.footer-content {
	grid-area: footer;
	background-color: #0265c0;
	text-align: center;
	font-size: 10pt;
	padding: 20px;
}

