/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
	margin: 0;
	background-image: url("Greek Background Faded.png");
}

body,
button,
input,
select,
textarea {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}


b,
strong {
	font-weight: bold;
}



/* Global layouts */
@media screen and (min-width: 700px) {
    .two-column {
        column-count: 2;
        column-gap: 2.4em;
    }
}


/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

.ingredients,
.process,
.equipment,
.top,
.footer-content {
	padding-left: 1em;
	padding-right: 1em;
    color: white;

}

.ingredients {
    background-color: #268eee;
}

.process {
	background-color: rgba(255, 255, 255, 0.8);
	grid-column: 2/3;
	grid-row: 2/4;
	color: #0265c0;
}

.equipment {
    background-color: #268eee;
}

.top {
	background-color: #0265c0;
	grid-column: 1/3;
	grid-row: 1/2;
}

.footer-content {
	background-color: #0265c0;
	grid-column: 1/3;
	text-align: center;
	font-size: 10pt;
}
