
.site {
	margin: 1em;
	display: grid;
	grid-template-columns: 200px auto;
	grid-template-rows: 230px 1fr 2fr;
	grid-template-areas:
							"title      title"
							"ingredients main"
							"equipment   main"
							"footer    footer";
}


.ingredients,
.process,
.equipment,
.top,
.footer-content {
	padding-left: 1em;
	padding-right: 1em;
    color: white;

}

.ingredients {
	grid-area: ingredients;
    background-color: #268eee;
}

.process {
	grid-area: main;
	background-color: rgba(255, 255, 255, 0.8);
	color: #0265c0;
}

.equipment {
	grid-area: equipment;
    background-color: #268eee;
}

.top {
	grid-area: title;
	background-color: #0265c0;
}

.footer-content {
	grid-area: footer;
	background-color: #0265c0;
	text-align: center;
	font-size: 10pt;
	padding: 20px;
}

